* {
   scroll-behavior: smooth;
}

body {
   transition: background-color 0.5s ease;
}

body::-webkit-scrollbar {
   width: 0;
   height: 0;
   transition: background-color 2s ease;
   background-color: #ffffff;
}

body.changing-background {
   transition: none;
   background-color: #000000;
}

body.loading {
   overflow: hidden;
}

img,
main {
   opacity: 0;
   transition: opacity 0.5s ease;
}

/* Loading */
.loading-bar {
   width: 0.1vw;
   height: 100%;
   background-color: #000000;
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   justify-content: center;
   align-items: center;
   transform-origin: top;
   animation: progressLoadingBar 2s forwards;
   animation-iteration-count: 1;
}

.progress-number {
   font-family: "Montserrat", sans-serif;
   font-size: 40px;
   display: flex;
   align-self: flex-end;
   transform-origin: top;
   animation: progressText 2s forwards;
   animation-iteration-count: 1;
   margin-left: 110px;
   padding: 2px;
   margin-bottom: 10px;
}

.progress-symbol {
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   display: flex;
   align-self: flex-end;
   transform-origin: top;
   animation: progressText 2s forwards;
   animation-iteration-count: 1;
   margin-bottom: 17px;
}

.loading-left,
.loading-right {
   width: 50%;
   height: 100%;
   background-color: #000000;
   position: fixed;
   top: 0;
   opacity: 0;
   animation-duration: 0.4s;
   animation-fill-mode: forwards;
   animation-delay: 2s;
}

.loading-left {
   left: 0;
   transform-origin: bottom;
   animation-name: progressLoadingLeft;
}

.loading-right {
   right: 0;
   transform-origin: top;
   animation-name: progressLoadingRight;
}

/* Main Content */
.container {
   max-width: 620px;
   margin: 250px auto;
   text-align: center;
   letter-spacing: 1px;
}

.name {
   font-family: "Playfair Display", serif;
   font-size: 2.9rem;
   margin-bottom: 30px;
}

.title {
   font-family: "Montserrat", sans-serif;
   font-size: 1.2rem;
   margin: 30px 0 25px;
}

.desc,
.skills-desc,
.about-desc {
   font-family: montserrat, sans-serif;
   font-size: 0.85rem;
   letter-spacing: 1.5px;
   word-spacing: 2px;
   line-height: 24px;
   font-weight: 400;
}

.button-contact {
   font-family: "Montserrat", sans-serif;
   font-size: 0.8rem;
   letter-spacing: 1.5px;
   word-spacing: 2px;
   line-height: 25px;
   font-weight: 700;
   padding: 15px 25px;
   border: 0.15rem solid #000;
   color: #000000;
   text-transform: uppercase;
   margin-top: 20px;
   display: inline-block;
   text-decoration: none;
}

.button-contact:hover {
   background-color: #000;
   color: #fff;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.line-down {
   width: 0.12vw;
   height: 70px;
   background-color: #000000;
   transform-origin: top;
   animation: progressScroll 3s ease 1s infinite both;
   left: 50%;
   position: relative;
   margin: 40px 0 120px;
}

.projects,
.about,
.skills {
   font-family: "Playfair Display", serif;
   font-size: 2.9rem;
   margin: 80px 0 50px;
}

.projects-container {
   width: 200px;
   margin: 50px auto 0;
   text-align: center;
}

.projects-container a img {
   width: 200px;
   height: auto;
   display: block;
   margin-bottom: 5px;
   border-radius: 7.5px;
   outline: 1px solid #b4b4b4;
}

.projects-container a {
   font-family: "Montserrat", sans-serif;
   font-size: 15px;
   text-decoration: underline;
   text-underline-offset: 5px;
   color: #000000;
   cursor: pointer;
   width: fit-content;
}

.skills-icon {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-gap: 5px;
}

.skills-icon a {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
   margin-top: 25px;
   font-size: 12px;
   font-family: "Montserrat", sans-serif;
   word-spacing: 2px;
   letter-spacing: 1px;
   font-weight: 500;
}

.skills-icon img {
   margin-bottom: 10px;
}

.contact-me {
   font-family: "Montserrat", sans-serif;
   font-weight: 660;
   letter-spacing: 1px;
   font-size: 15px;
   display: flex;
   text-align: center;
   justify-content: center;
   margin: 110px auto 30px;
   max-width: 600px;
}

.contact-links img {
   margin: 0 20px;
}

.contact-links img:hover {
   transform: scale(1.1);
}

.button-container {
   position: fixed;
   bottom: 30px;
   right: 30px;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s, visibility 0.3s;
}

.button-container.show {
   opacity: 1;
   visibility: visible;
}

.button {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: rgb(20, 20, 20);
   border: none;
   box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
   cursor: pointer;
   transition: width 0.3s, background-color 0.3s, border-radius 0.3s;
}

.svgIcon {
   width: 12px;
   transition: transform 0.3s;
}

.svgIcon path {
   fill: white;
}


/* keyframe */
@keyframes progressLoadingBar {
   0% {
      transform: scaleY(0);
   }

   100% {
      transform: scaleY(1);
   }
}

@keyframes progressText {
   0% {
      transform: scaleY(0);
   }

   100% {
      transform: scaleY(1);
   }
}

@keyframes progressSymbol {
   0% {
      transform: scaleY(0);
   }

   100% {
      transform: scaleY(1);
   }
}

@keyframes progressLoadingLeft {
   0% {
      opacity: 0;
      transform: scaleY(0);
   }

   100% {
      opacity: 1;
      transform: scaleY(1);
   }
}

@keyframes progressLoadingRight {
   0% {
      opacity: 0;
      transform: scaleY(0);
   }

   100% {
      opacity: 1;
      transform: scaleY(1);
   }
}

@keyframes progressScroll {
   0% {
      transform-origin: top;
      transform: scaleY(0);
   }

   50% {
      transform-origin: top;
      transform: scaleY(1);
   }

   51% {
      transform-origin: bottom;
      transform: scaleY(1);
   }

   100% {
      transform-origin: bottom;
      transform: scaleY(0);
   }
}

/* Phone View */
@media (max-width: 480px) {
   body {
      margin: 0 20px;
   }

   .container {
      margin: 200px auto;
   }

   .loading-bar {
      width: 0.3vw;
   }

   .name,
   .projects,
   .about,
   .skills {
      font-size: 35px;
   }

   .title {
      font-size: 15px;
      margin-top: 5px;
   }

   .desc,
   .about-desc,
   .skills-desc {
      font-size: 12px;
      margin-top: 20px;
      line-height: 20px;
   }

   .contact {
      height: 50px;
   }

   .line-down {
      width: 0.5vw;
      margin-bottom: 170px;
   }

   .projects-container a img {
      width: 200px;
      margin: 0 auto;
   }

   .contact-me {
      font-size: 13px;
      margin: 90px auto;
   }

   .contact-links img {
      width: 30px;
   }

   .button-contact {
      padding: 10px 20px;
   }

   .button-container {
      bottom: 20px;
      right: 20px;
   }

   .button {
      width: 40px;
      height: 40px;
   }

   .svgIcon {
      width: 10px;
   }

}